ALCHEMY_URL=

SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

BREVO_API_KEY=
YOUR_BREVO_EMAIL=
YOUR_BREVO_SMTP_KEY=

CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=

REDIS_HOST=
REDIS_PASSWORD=

PINATA_API_KEY=
PINATA_SECRET_API_KEY=

METAMASK_PRIVATE_KEY=
SMART_CONTRACT_CERTIFICATE_ADDRESS=


